<section id="contact">
    <div id="content-contact">
        <div id="form-container">
            <div id="title">
                <picture>
                    <source type="image/png" srcset="assets/images/flowers-right.png">
                    <img src="assets/images/flowers-right.webp" alt="fleurs de la jungle" id="flowers-right">
                </picture>
                <h3>contact me </h3>
                <div id="sub-title-contact">
                    <span> &#127802; </span>
                    <h4>I'd love to hear from you!</h4>
                    <span> &#127802; </span>
                </div>
            </div>
            <form name="my_form" action="#result" method="post">
                <div class="styled-input wide"> 
                    <input type="text" id="name"> 
                    <label id="label-name" for="name">Name</label> 
                </div>
                <div class="styled-input"> 
                    <input type="e-mail" id="email"> 
                    <label id="label-email" for="email">E-mail</label> 
                </div>
                <div  class="styled-input"> 
                    <input type="text" id="label"> 
                    <label id="label-label" for="label">Label</label> 
                </div>
                <div class="styled-input wide"> 
                    <textarea id="message"></textarea> 
                    <label id="label-message" for="message">Message</label> 
                </div>
                <div id="submit">
                    <div class="submit-btn">Send Message</div>
                </div>
            </form>
        </div>
    </div>
</section>  