<section id="experience">
    <div class="title-section">
        <div>
            <h2 class="title" data-text="EXPERIENCE">EXPERIENCE</h2>
        </div>
    </div>
    <div class="subTitle-section">
        <h3>My Current Work</h3>
    </div>
    <div id="boxes-experience">
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%= projects[0].images.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%= projects[0].images.path_miniature %>" alt="<%= projects[0].images.path_miniature %> " width="512" height="512">
                </picture>
                <a name="link_project_newtspell" href="http://localhost:5173/newtspell">
                    <div class="btn-project-details">
                        <p>Show more</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p>Gallery • 3D Artist</p>
                </div>
            </div>
            <div class="tagsbox">
                <div class="tag">
                    <span>Unity3D</span>
                </div>
                <div class="tag">
                    <span>WebGL</span>
                </div>
                <div class="tag">
                    <span>Javascript</span>
                </div>
            </div>
            <div class="content-card-experience">
                <h3><%= projects[0].title %></h3>
                <p>
                    This virtual gallery is a platform that showcases the artistry of Newtspell. It provides an immersive 3D experience, with the ambitious goal of integrating gamification and hosting exciting exhibition events.
                </p>
            </div>
        </div>
        
    </div>
    <div class="subTitle-section">
        <h3>Labs</h3>
    </div>
    <div id="boxes-experience">
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%= projects[1].images.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%= projects[1].images.path_miniature%>" alt="<%= projects[1].images.path_miniature%> " width="512" height="512">
                </picture>
                <a name="link_project_color_picker" href="<%= projects[1].project_information.project_url %>">
                    <div class="btn-project-details">
                        <p>Show more</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p><%= projects[1].title %></p>
                </div>
            </div>
            <div class="tagsbox">
                <% for(var stack in projects[1].stacks){ %>
                    <div class="tag">
                        <span><%= projects[1].stacks[stack] %></span>
                    </div>
                <% } %> 
            </div>
            <div class="content-card-experience">
                <h3>  <%= projects[1].title %></h3>
                <p>
                    <%= projects[1].text %>
                </p>
            </div>
        </div>
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%= projects[2].images.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%= projects[2].images.path_miniature %>" alt="<%= projects[2].images.path_miniature %>" width="512" height="512">
                </picture>
                <a name="link_project_torii"  href="<%= projects[2].project_information.project_url %>">
                    <div class="btn-project-details">
                        <p>Show more</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p><%= projects[2].title %></p>
                </div>
            </div>
            <div class="tagsbox">
                <% for(var stack in projects[2].stacks){ %>
                    <div class="tag">
                        <span><%= projects[2].stacks[stack] %></span>
                    </div>
                <% } %> 
            </div>
            <div class="content-card-experience">
                <h3><%= projects[2].title %></h3>
                <p>
                    <%= projects[2].text %>
                </p>
            </div>
        </div>
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%= projects[3].images.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%= projects[3].images.path_miniature %>" alt="<%= projects[3].images.path_miniature.alt %>" width="512" height="512">
                </picture>
                <a name="link_gingerbread"  href="<%= projects[3].project_information.project_url %>">
                    <div class="btn-project-details">
                        <p>Show more</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p><%= projects[3].title %></p>
                </div>
            </div>
            <div class="tagsbox">
                <% for(var stack in projects[3].stacks){ %>
                    <div class="tag">
                        <span><%= projects[3].stacks[stack] %></span>
                    </div>
                <% } %> 
            </div>
            <div class="content-card-experience">
                <h3><%= projects[3].title %></h3>
                <p>
                    <%= projects[3].text %>
                </p>
            </div>
        </div>
    </div>
</section>