<section id='presentation'>
    <div id='content-presentation'>
        <i class="fas fa-hand-spock spock-icon" id="icon-hand-first"></i>
        <blockquote >
            <p>
                Hi, </br> I'm a frontend developer who values autonomy and aspires to excel in crafting high-quality products. My primary goal is to deliver an outstanding user experience through clean code and thoughtful user interface design.
            </p>
        </blockquote>
        <i class="fas fa-hand-spock spock-icon" id="icon-hand-second"></i>
        <div class="border-presentation" id="cube-1"></div>
        <div class="border-presentation" id="cube-2"></div>
    </div>
</section>