<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-404</title>
</head>
<body>
    <section class="page-error">
        <div id="wrapper">
            <div class="container-title">
                <div>
                    <h1 class="title" data-text="Oops!">Oops!</h1>
                </div>
            </div>
            <div class="content-page-error">
                <h2>404 - PAGE NOT FOUND</h2>
                <p>The page you are looking for might have been removed had its name changed or is temporatily unavailable</p>
            </div>
            <div class="btn-home">
                <a name="home_page" href="/">
                    <button aria-label="Back to home page">GO TO HOMEPAGE</button>
                </a>
            </div>
        </div>
    </section>
</body>
</html>