//SMALL DEVICES
$breakpoint-min-xs: 320px;
$breakpoint-max-xs: 427px;

$breakpoint-min-sm: 428px;
$breakpoint-max-sm: 576px;

$breakpoint-min-md: 577px;
$breakpoint-max-md: 768px;

//LAPTOP
$breakpoint-min-laptop:769px;
$breakpoint-max-laptop:1024px;

//DESKTOP
$breakpoint-min-desktop:1025px;
$breakpoint-max-desktop:1440;

//4K
$breakpoint-min-4k:1441px;
$breakpoint-max-4k:2560px;

//SECTIONS
$margin-sections-smartphone: 0 2.6rem;
$margin-sections-smartphone-md: 0 4.6rem;
$margin-sections-tablet: 0 5rem;
$marginHorizontale-sections-4k: 10rem;