
<header id="header-home">
    <div id="sidebar-header">
        <h3 id="sidebar-title">ISABELLE</h3>
        <h4 id="sidebar-description">Front-end developper</h4>
        <h5 id="sidebar-description">+ 3 years of experience</h5>
    </div>
    <nav>
        <ul>
            <li>
                <a name="link_presentation" id="presentation-url" href="#content-presentation" class="scroll">
                    <i class="far fa-smile-wink"></i>  Presentation
                </a>
            </li>
            <li>
                <a name="link_expertise" id="expertise-url" href="#expertise" class="scroll">
                    <i class="fas fa-code"></i> Expertise
                </a>
            </li>
            <li>
                <a name="link_experience" id="experience-url" href="#experience" class="scroll">
                    <i class="fas fa-flask"></i> Experience
                </a>
            </li>
            <li>
                <a name="link_contact" id="contact-url" href="#contact" class="scroll">
                    <i class="far fa-paper-plane"></i> Contact
                </a>
            </li>
        </ul>
    </nav>
</header>