<div id="infos-contact">
        <a name="link_linkedin" class="social-icon" href="https://www.linkedin.com/in/iza-dev/">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a name="link_gitlab" class="social-icon" href="https://gitlab.com/iza-dev">
            <i class="fab fa-gitlab"></i>
        </a>
        <div id="content">
            <a name="mailto" href="mailto:contact@izadev.tech" id="mail">contact@izadev.tech</a>
        </div>
</div>